@use 'variables' as v;
body {
    font-family: Arial, Helvetica, sans-serif;
    main {
        margin: 0;
        padding: 0.8rem;
        background-color: rgb(231, 220, 220);
        h1 {
            color: v.$mainHeaderColor;
        }
        h1,
        article.browser {
            margin: 10px;
            padding: 0.8rem;
        }
        article.browser {
            background: rgb(211, 187, 187);
            h2 {
                color: v.$mainHeaderColor;
            }
            h2,
            p {
                margin: 0.5rem;
            }
            p {
                color: rgb(44, 141, 25);
                .year {
                    font-size: 1.3rem;
                    background-color: rgb(214, 188, 188);
                    color: navy;
                }
                strong {
                    background-color: lightyellow;
                    color: black;
                }
            }
        }
    }
}